header {
    background-color: #2A3C24;
    color: white;
    text-align: center;
    padding: 10px;
}

.footer-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    text-align: left;
}

footer {
    padding: 30px;
}

.footer-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-left {
    text-align: left;
}

.socials {
    display: flex;
    align-items: center;
    gap: 10px;
}

.socials a {
    display: flex;
    align-items: center;
}

.facebook-logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.instagram-logo {
    width: 55px;
    height: 55px;
    object-fit: contain;
}


.footer-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.footer-center img {
    width: 120px;
    height: 80px;
    object-fit: contain;
}


.footer-right {
    margin-left: auto;
    text-align: left;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.contact-item img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.contact-item a {
    color: black;
    text-decoration: none;
}

.contact-item a:hover {
    text-decoration: underline;
}